## Define a list

### Define a list that contains 3 types of fruit

In [13]:
fruit = ['Apple', 'Banana', 'Orange', "Apple"]
type(fruit)

list

## How many elements in the list

In [14]:
n = len(fruit)
print (n)

4

In [15]:
print (fruit)

['Apple', 'Banana', 'Orange', 'Apple']

## Print the second item in the list

In [16]:
print ("The second element is ",fruit[1])

The second element is  Banana

## Reverse indexing
### print the last element and the last but one element of the list

In [18]:
print( "The last element is: ", fruit[-1])
print( "The last but one element is: ", fruit[-2])

The last element is:  Apple
The last but one element is:  Orange

## Range of Indexes : Slicing

In [19]:
A = [2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 7, 0]
A[1:3]

[3, 4]

In [22]:
A[4:8]

[6, 7, 1, 2]

In [23]:
A[ : 2]

[2, 3]

In [24]:
A[3:]

[5, 6, 7, 1, 2, 3, 4, 7, 0]

In [25]:
A[:]

[2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 7, 0]

## Using in

In [27]:
x = "Banana" in fruit
x

True

In [28]:
x = "2" in A
x

False

## change an item in a list

In [29]:
fruit

['Apple', 'Banana', 'Orange', 'Apple']

In [30]:
# change the apple to be Melon
fruit[3]="Melon"
fruit

['Apple', 'Banana', 'Orange', 'Melon']

## Checking if an item exists in a list

In [2]:
L = ['A', 'B', 1, "2"]
# Check if 2 is a member of the list
x = '2' in L
x

True

In [3]:
C = 1
x = C in L
x

True

In [4]:
L

['A', 'B', 1, '2']

In [5]:
# Change 1 to be 3
L[2]= 3
L

['A', 'B', 3, '2']

Consider L = ['A', 'B', 1, '2']
change 2 to be 4

In [21]:
L = ['A', 'B', 1, '2']
L[-1]= '4'
L

['A', 'B', 1, '4']

In [26]:
# insert x between "B" and 1
L.insert(2,"x")
L

['A', 'B', 'x', 'x', 'x', 'x', 'x', 1, '4']

In [27]:
L

['A', 'B', 'x', 'x', 'x', 'x', 'x', 1, '4']

In [33]:
# add 5 to the end of the list
L.append(5)
L

['A', 'B', 'x', 'x', 'x', 'x', 'x', 1, '4', 5, 5, 5, 5, 5, 5]

## Externd a list

In [42]:
L1 = [1, 2, 3]
L2 = [10, 20, 30, 40]
L1.extend(L1)
L1

[1, 2, 3, 1, 2, 3]

In [43]:
L1 = [1, 2, 3]
L2 = [10, 20, 30, 40]
L1 = L1 +L2
L1

[1, 2, 3, 10, 20, 30, 40]

In [47]:
L = [10, 20, 30, 40]
# Remove 20 from the list
L.remove(20)
L

[10, 30, 40]

In [52]:
L = [10, 20, 30, 40]
# Remove the second element
x = L.pop(1)
L

[10, 30, 40]

In [54]:
St = ["Mohammad", 'Abdullah', "Ali"]
St.sort()
St

['Abdullah', 'Ali', 'Mohammad']

## Copy a list

In [55]:
A = [1, 2, 3, 4]
B = A
B

[1, 2, 3, 4]

In [56]:
B.pop(0)
B

[2, 3, 4]

In [57]:
A

[2, 3, 4]

In [58]:
A = [1, 2, 3, 4]
B = A.copy()
B

[1, 2, 3, 4]

In [59]:
B.pop(0)
B

[2, 3, 4]

In [60]:
A

[1, 2, 3, 4]