# Tupile

In [1]:
t = (1, 2)
t

(1, 2)

In [2]:
type(t)

tuple

In [3]:
Student = ('Ahmed', 'IT', 78.56, 92123456)
Student

('Ahmed', 'IT', 78.56, 92123456)

In [4]:
# change the name to be Ali
Student[0]="Ali"

TypeError: 'tuple' object does not support item assignment

In [5]:
# change the name to be Ali
Student = list (Student)
Student

['Ahmed', 'IT', 78.56, 92123456]

In [7]:
Student[0]="Ali"
Student = tuple (Student)
Student

('Ali', 'IT', 78.56, 92123456)